h1 {
  color: red;
  font: bold;
}
h2,
h3 {
  color: red;
}
body {
  margin: 0;
}
/*a:visited {
  color: purple;
}*/
header {
  display: flex;
  align-items: center;
  /*background-color: rgb(50, 158, 240);*/
}
header h1 {
  padding-left: 10px;
}
nav a {
  box-sizing: border-box;
  background-color: rgb(58, 131, 156);
  color: white;
  border-radius: 3px;
}
a:hover {
  /*mauszeiger hower*/
  background-color: darkblue;
  color: white;
}
nav {
  position: sticky;
  width: 100%;
  top: 0;
  padding: 15px 0;
  background-color: #ff6961;
  display: block;
  border-radius: 5px;
}
nav a {
  display: flex;
  display: inline;
  text-decoration: none;
  flex-wrap: wrap;
}
section {
  border: black solid 5px;
  border-radius: 10px;
}
.bold {
  font-weight: bold;
}
aside {
  background-color: orange;
  color: black;
  border-radius: 15px;
}
fieldset {
  border-radius: 15px;
  border: 5px solid black;
}
legend {
  font-weight: bold;
}
fieldset p {
  margin: 6px;
}
th {
  background-color: rgb(222, 44, 44);
}
td {
  background-color: rgb(143, 194, 233);
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 3px solid black;
  text-align: left;
  padding: 5px;
}
* {
  font-family: Helvetica;
}
